<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="a" class="com.person.cn.demotestone.service.ServiceA" >
        <property name="serviceB" ref="b"/>
    </bean>
    <bean id="b" class="com.person.cn.demotestone.service.ServiceB" >
        <property name="serviceA" ref="a"/>
    </bean>
</beans>